html
  head
    title="Аккаунты"
  body
    a(href="/new") Add
    //-button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='gotomain()') Add
    //- button#BubbleButton.button.hypeButton.button-3d.button-caution.button-circle.button-jumbo(onclick = 'onButtonClick()') Add
    //- script.
    //-   function gotomain (){
    //-     $.ajax({
    //-     "url": "/new",
    //-     "method": "POST"
    //-     }); 
    //-   }
    p= Account.title
    p= Account.accountId

    //-p= accounts
    each account in accounts 
      p= account.title
      p= account.accountId
      p= account._id
      a(href="/delete/" + account._id) Del